linguistic_diversity_analysis/data/papers/cl_cv_papers_errors.csv
linguistic_diversity_analysis/data/papers/papers_n_gram_similarities.csv
linguistic_diversity_analysis/data/papers/cl_cv_papers_features.csv
linguistic_diversity_analysis/data/papers/cl_cv_papers.csv
linguistic_diversity_analysis/data/papers/arxiv-metadata-oai-snapshot.json
linguistic_diversity_analysis/data/papers/papers_n_gram_similarities.npy
linguistic_diversity_analysis/data/reddit/r_changemyview_comments.jsonl
linguistic_diversity_analysis/data/reddit/r_fantasywriters_comments.jsonl
linguistic_diversity_analysis/data/reddit/reddit_errors.csv
linguistic_diversity_analysis/data/reddit/filtered_comments.csv
linguistic_diversity_analysis/data/reddit/reddit_features.csv
linguistic_diversity_analysis/data/reddit/reddit_n_gram_similarities.csv
linguistic_diversity_analysis/data/reddit/r_DestructiveReaders_comments.jsonl
linguistic_diversity_analysis/data/reddit/r_changemyview_posts.jsonl
linguistic_diversity_analysis/data/reddit/r_WritingPrompts_comments.jsonl
linguistic_diversity_analysis/data/reddit/r_fantasywriters_posts.jsonl
linguistic_diversity_analysis/data/reddit/r_WritingPrompts_posts.jsonl
linguistic_homogenization_social_impact/datasets/political/political_data.csv
linguistic_homogenization_social_impact/datasets/simulated_texts_features_and_entropies.csv
linguistic_homogenization_social_impact/datasets/simulated_texts_features_and_entropies_agg_variable.csv
.Rproj.user
